@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@300;500;600;700;900&family=PT+Sans:wght@400;700&display=swap');

/* Media Queries */
/* NAVIGATION */
@media screen and (max-width: 992px) {
    nav {
        background-color: #BBC8DD;
    }
}

/* ABOUT ME TITLE AFTER */
@media screen and (min-width: 992px) {
    .about-me-title::after {
        content: "";
        width: 30%;
        height: 8px;
        margin-top: 12px;

        background-color: #DF3143;
    }
}

@media screen and (max-width: 992px) {
    .about-me-title::after {
        content: "";
        width: 97%;
        height: 8px;
        margin-top: 12px;

        background-color: #DF3143;
    }
}

/* Custom CSS */
.hero {
    color: #BBC8DD;

    padding: 180px 0;

    font-family: "Montserrat", sans-serif;

    background-image: url("/img/header.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero-name {
    font-size: 48px;
}

.profile-pict-wrapper {
    width: 270px;
    height: 270px;
    background-color: #F0F8FF;
}

.profile-pict {
    width: 90%;
    height: 90%;
    background: linear-gradient(to right, #2E4975, #F0F8FF);
}

.about-me-wrapper {
    background-color: #F0F8FF;
    color: #030824;

    font-family: 'Montserrat', sans-serif;
}

.about-me-content {
    padding-top: 150px;
}

.about-me-title {
    font-size: 48px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.45rem;
}

.socmed-icon {
    color: #030824;
    transition-duration: 0.4s;
}

.socmed-icon:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.download-button {
    letter-spacing: 0.06em;

    border: none;
    border-radius: 16px;

    outline: none;
    color: #BBC8DD;
    background: linear-gradient(270deg, 
        #2E4975 0%, rgba(46, 73, 117, 0.593221) 85.42%, 
        rgba(46, 73, 117, 0.34375) 99.97%, 
        rgba(46, 73, 117, 0) 99.98%, 
        rgba(46, 73, 117, 0.34375) 99.99%);
    box-shadow: inset 0 0 0 0 #BBC8DD;
    transition: ease-out 0.4s;
}

.download-button:hover {
    color: #030824;
    box-shadow: inset 240px 0 0 0 #BBC8DD;
}

.education-wrapper {
    background-color: #2E4975;
}

.edu-exp-mid-line {
    color: transparent;
    background-color: #5C010B;
}

.edu-exp-wrapper {
    color: #F0F8FF;

    background-color: #2E4975;
}

.edu-exp-title {
    color: #BBC8DD;

    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.18em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.edu-exp-title::before,
.edu-exp-title::after {
    content: "";
    width: 68px;
    height: 8px;

    background-color: #5C010B;
}

.edu-exp-title::before {
    margin-right: 22px;
}

.edu-exp-title::after {
    margin-left: 12px;
}

.edu-exp-content {
    font-family: 'PT Sans', sans-serif;

    letter-spacing: 0.18rem;
}

.edu-year::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;

    transform: translate(31.5px, 8px);
    background-color: #5C010B;
}

.exp-footer {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.18rem;
}